.marking{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marking-container{
    width: 450px;
    height: 470px;
    border: 2px solid rgba(255,255,255,0.1);
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(20px);
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
 }
 .marking-container h1{
    color: white;
 }
 
 .web{
     border-radius: 10px;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 .capture-button{
     width: 90%;
     height: 30px;
     font-weight: bold;
     background-color: hsl(120, 100%, 25%);
     border: none;
     border-radius: 50px;
     color: white;
     margin-bottom: 10px;
     cursor: pointer;
 }
 .capture-button:hover{
     background-color: hsl(120, 100%, 20%);
     transition-duration: 0.3s;
 }
 .capture-button:active{
     background-color: hsl(120, 100%, 30%);
     transition-duration: 0.3s;
 }
 .message{
     text-align: center;
     color: Red;
     font-weight: bold;
 }
 .choice{
     margin-bottom: 10px;   
     width: 90%;
     text-align: center;
     border-radius: 50px;
     padding: 7px;
     background-color: rgb(255, 89, 0);
     color: white;
     border: none;
     /* appearance: none; */
     cursor: pointer;
     font-weight: bold;
 }